{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Сокращение ссылок</h1>
    <p>Полностью работающее приложение по сокращению ссылок в интернете</p>
      {% if not url %}
      <form action="." method="post" >{% csrf_token %}
          {{ form.as_p }}
          <input id="submit_btn" type="submit" name="submit" value="Подвердить"/>
      </form>
      {% else %}
          <div class="card-panel">
              <a href="{{url}}">{{ url }}</a>
          </div>
      {% endif %}
  </div>
</div>

{% endblock %}
